body{
    margin:0;
    padding:0;
    font-family: monospace;
    font-size: 1.2em;
}
main{
    position:absolute;
    left:50px;
    top:20px;
}
a{
    text-decoration: none;
    color:inherit;
}
article{
    width: 500px;
}
p{
    text-indent: 20px;
}