*{
    margin:0;
    padding:0;
    color:white;
}

body{
    height:100%;
    width:100%;
    background-color: black;
    overflow: hidden;
}

.svg {
    width: 0;
    height: 0;
}

@media(hover:hover){
    .clipped:hover, .clipped:focus{
        background: #6F0B0D;
        background: -webkit-gradient(linear, left top, right bottom, from(#6F0B0D), to(#F21720));
        background: -o-linear-gradient(top left, #6F0B0D, #F21720);
        background: linear-gradient(to bottom right, #6F0B0D, #F21720);
        color:transparent;
    }
}

.clipped:active{
    background: #6F0B0D;
    background: -webkit-gradient(linear, left top, right bottom, from(#6F0B0D), to(#F21720));
    background: -o-linear-gradient(top left, #6F0B0D, #F21720);
    background: linear-gradient(to bottom right, #6F0B0D, #F21720);
    color:transparent;
}

.clipped {
    overflow: hidden;
    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
         -o-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.base{
    position:absolute;
    top:50%;
    left:50%;
    width: 90vmin;
    height: 27.29vmin;
    font-family: monospace;
    font-size: 0.75em;
    line-height: 0.82em;
    word-spacing: -0.3em;
    text-align:justify;
    overflow:hidden;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-clip-path: url(#my-clip-path);
            clip-path: url(#my-clip-path);
}

a{
    text-decoration: none;
}